.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    overflow: hidden;
}

.auth-form {
    padding: 20px;
}

.auth-form__tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.auth-form__tabs button {
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    transition: color 0.3s;
}

.auth-form__tabs button.active {
    color: #6a11cb;
    border-bottom: 2px solid #6a11cb;
}


.auth-form__content.active {
    display: block;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #6a11cb;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #6a11cb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #2575fc;
}

.hidden {
    display: none;
}